html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #181f2a;
  margin: 0px;
  padding: 0px;
  font-size: calc(16px + 0.75vw);
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}

*,
a {
  color: #ffffff;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p,
a {
  font-size: 0.875rem;
}

@media screen and (min-width: 999px) {
  p,
  a {
    font-size: 1rem;
  }
}

p {
  margin-top: 0px;
  margin-bottom: 1.5em;
}

section {
  padding-right: 0px 27px 160px;
}

button {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  font-size: 0.65em;
  padding: 20px 40px;
  width: 100%;
  max-width: 285px;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#339ecc), to(#339ecc));
  background: linear-gradient(to right, #339ecc, #339ecc);
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1fr) auto auto auto;
      grid-template-columns: minmax(100px, 1fr) auto auto auto;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
  padding: 25px 20px 50px 20px;
}

@media screen and (min-width: 999px) {
  header {
    gap: 56px;
    padding: 73px 80px;
  }
}

header img {
  width: 83px;
}

@media screen and (min-width: 999px) {
  header img {
    width: 184px;
  }
}

header a {
  font-size: 0.875rem;
}

@media screen and (min-width: 999px) {
  header a {
    font-size: 1rem;
  }
}

header a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hero {
  position: relative;
  background-color: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 40vw;
  bottom: 0px;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media screen and (min-width: 699px) {
  .hero::after {
    background-image: url("../images/bg-curvy-desktop.svg");
    height: 33vw;
  }
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero img {
  width: 100%;
  max-width: 716px;
}

.hero h1 {
  max-width: 678px;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 1.1em 0;
}

.hero p {
  max-width: 585px;
  font-size: 0.95em;
}

.hero button {
  margin-top: 8px;
  margin-bottom: 100px;
}

.features {
  background-color: #181f2a;
}

.features .feature-grid {
  display: -ms-grid;
  display: grid;
  gap: 6vw 10vw;
  max-width: 880px;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 100px;
}

@media screen and (min-width: 699px) {
  .features .feature-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.features .feature {
  text-align: center;
}

.features .feature-image {
  height: 80px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .feature-image img {
  height: 100%;
  width: auto;
}

.features .feature-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.features .feature-description {
  font-size: 1rem;
}

.productive {
  background-color: #181f2a;
}

.productive__grid {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 110px;
}

@media screen and (min-width: 999px) {
  .productive__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: left;
    max-width: none;
  }
}

.productive-image {
  text-align: center;
}

.productive-image img {
  width: 100%;
  max-width: 615px;
}

@media screen and (min-width: 999px) {
  .productive-text {
    padding-right: 4rem;
  }
}

.productive-text h2 {
  padding-left: 5px;
  font-size: 2.15rem;
}

@media screen and (min-width: 999px) {
  .productive-text h2 {
    max-width: 400px;
  }
}

.productive-text p {
  font-size: 0.875rem;
}

.productive-text a {
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.productive-text a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.quotations {
  background-color: #181f2a;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 140px;
}

.quotations-flex {
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
  padding: 35px 30px 10px 30px;
  width: 100%;
  max-width: 430px;
}

@media screen and (min-width: 999px) {
  .quotations-flex {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    max-width: none;
  }
}

.quotations .quote {
  background-color: #202a3c;
  padding: 45px 28px 25px 25px;
}

.quotations .quote .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotations .quote .name img {
  border-radius: 50%;
  width: 25px;
  height: 28px;
  margin-right: 20px;
}

.box {
  padding-bottom: 80px;
}

.box-flex {
  background-color: #202a3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin: 0 100px;
  max-width: 860px;
}

@media screen and (min-width: 999px) {
  .box-flex {
    margin: 0 170px;
  }
}

.box-flex h2 {
  font-size: 1.75rem;
  text-align: center;
}

.box-flex p {
  padding: 0 60px;
}

.box-flex .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.box-flex .input-text {
  padding-left: 10px;
  color: black;
}

@media screen and (min-width: 999px) {
  .box-flex .input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.box-flex input {
  border-radius: 24px;
  height: 45px;
  margin-bottom: 10px;
}

@media screen and (min-width: 999px) {
  .box-flex input {
    height: 45px;
    margin-bottom: 24px;
    width: 378px;
  }
}

.box-flex .btn {
  width: 215px;
  background-color: #65e2d9;
}

footer {
  background-color: #0b1523;
  height: 218px;
  width: 100%;
  padding: 50px 30px;
}

footer .logo {
  padding-bottom: 20px;
}

footer .details {
  font-size: 1rem;
}

@media screen and (min-width: 999px) {
  footer .details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

footer .details .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .details .location p {
  font-size: 0.8rem;
}

footer .details .location img {
  width: 16px;
  height: 24px;
  padding-right: 5px;
}

footer .details .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .details .contact img {
  height: 24px;
  width: 24px;
  padding-right: 8px;
}

footer .details .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 178px;
  margin-bottom: 10px;
}

footer .details .about div {
  padding-bottom: 5px;
}

footer .details .terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .details .terms div {
  padding-bottom: 5px;
}

footer .details .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .details .instagram img {
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */